<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Population Registry</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="../../css/style.css" type="text/css">
	</head>
	<body>
		<h2 class="centered">People</h2>
		<table>
			<tr>
				<th>id</th>
				<th>First name</th>
				<th>Second name</th>
				<th>Age</th>
				<th>Birth date</th>
			</tr>
			<tr th:each="person: ${people}">
				<td th:text="${person.getId()}"></td>
				<td th:text="${person.getFirstName()}"></td>
				<td th:text="${person.getSecondName()}"></td>
				<td th:text="${person.getAge()}"></td>
				<td th:text="${person.getBirthDate()}"></td> 
				<td><a th:href="@{'/delete/' + ${person.getId()}}">delete</a></td>
			</tr>
		</table>
		<div class="centered">
			<form th:action="@{/add}" th:method="GET">
				<button type="submit">Add new person</button>
			</form>
		</div>
		<div class="centered">
			<form th:action="@{/edit}" th:method="GET">
				<button type="submit">Edit person</button>
			</form>
		</div>
		<br>
		<div class="centered">
			<form th:action="@{/person/{id}}" th:method="GET">
				<input type="number" name="id" placeholder="id">
			</form>
		</div>
	</body>
</html>